<div>
    {{#each posts as |post|}}
    <div class="column" id="blogs">
        <h1 id="blog-title"><strong>{{post.title}}</strong></h1>
        <p>{{post.description}}</p>
    </div>
    {{/each}}
</div>